{% extends "AmazPocket/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <h2 class="m-t-1 display-2 border-bottom bold center-text">Categories</h2>

                <div class="row categories-items">
                    {% for cat in categories %}
                        <div class="col-md-4">
                            <a href="{% url 'category_products' category_id=cat.id %}">
                                <img class="cat-img" src="{{ cat.img_url }}" alt="cat-image">
                                <h3>{{ cat }}</h3>
                            </a>
                        </div>
                    {% empty %}
                        <h2>No listings available</h2>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}