{% extends "AmazPocket/layout.html" %}
{% load static %}

{% block body %}
    {% if title %}
        <div class="col-md-12">
            <h2 class="m-t-1 display-2 border-bottom bold center-text">{{ title }}</h2>
        </div>
    {% endif %}

    <div id="products-container"  data-cat-id="{{ cat_id }}" data-wish-id="{{ wish_id }}" class="row">
        <!-- Add Products Here -->
    </div>

    <!-- Modal for product -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add/Update Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div id="product-modal">
                  <!-- img goes here -->
                  <p id="product-description"></p>
                  <p id="sell-by"></p>
                  <p id="id_price" class="p-price"></p>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Add to Cart</button>
                    <div class="btn-group">
                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add to Wishlist
                      </button>
                      <div id="product-modal-wishlist-menu" class="dropdown-menu">
{#                        <a class="dropdown-item" href="#">Action</a>#}
{#                        <a class="dropdown-item" href="#">Another action</a>#}
{#                        <a class="dropdown-item" href="#">Something else here</a>#}
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'AmazPocket/product.js' %}"></script>
{% endblock %}