{% extends "AmazPocket/layout.html" %}
{% load static %}

{% block body %}
    {% if title %}
        <div class="col-md-12">
            <h2 class="m-t-1 display-2 border-bottom bold center-text">{{ title }}</h2>
        </div>

        {% if wish_id %}
            <div id="sub-header-wishlist">
                <div>
                    <button id="delete-wishlist" type="button" class="btn careful my-2 my-sm-0" onclick="deleteWishlist({{ wish_id }})">Delete Wishlist</button>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="container">
        <div id="products-container"  data-cat-id="{{ cat_id }}" data-wish-id="{{ wish_id }}" data-search-criteria="{{ criteria }}" class="row">
            <!-- Add Products Here -->
        </div>
    </div>

    <!-- Modal for product -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add/Update Product</h5>
            <button id="product-modal-close-button" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div id="product-modal">
                  <!-- img goes here -->
                  <p id="product-description"></p>
                  <p id="sell-by"></p>
                  <p id="id_price" class="p-price"></p>

                  <div class="modal-footer">
                        {% if user.is_authenticated %}
                            <button id="add-to-cart-button" type="button" onclick="addProductToCart()" class="btn btn-primary">Add to Cart</button>

                            {% if wish_id %}
                                <button id="remove-from-wishlist" type="button"
                                    class="btn careful" onclick="removeFromWishlist({{ wish_id }})">Remove from Wishlist</button>
                            {% else %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Add to Wishlist
                                    </button>
                                    <ul id="product-modal-wishlist-menu" class="dropdown-menu">
                                        <!-- Add Items here -->
                                    </ul>
                                </div>
                            {% endif %}

                        {% else %}
                            <p>Create an account or log in to add product to the cart or wishlist.</p>
                        {% endif %}


                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'AmazPocket/product.js' %}"></script>
{% endblock %}