{% extends "AmazPocket/layout.html" %}
{% load static %}

{% block body %}
    {% if profile.is_vendor %}
        <div class="col-md-12">
            <h1 class="display-2 border-bottom bold">{{ profile.vendor_name }}</h1>
            <div class="vendor-buttons">
                <button type="button" class="btn btn-outline-success my-2 my-sm-0"
                        data-toggle="modal" data-target="#exampleModal"
                        onclick="changeProductFormToPost()">Add New Product</button>
            </div>
        </div>

        <div class="col-md-12">
            {% for item in products %}
                <div class="col-md-4">
                    <a href="#">
                        <label>{{item.title}}</label>
                        <p>{{item.description}}</p>
                        <img src="{{item.img_url}}" alt="item.title">
                        <p class="p-price">Price: ${{item.price}}</p>
                        <p class="p-instock">In stock: {{ item.in_stock_quantity }}</p>

                        <!-- Delete form -->
                        <form id="product-delete" action="{% url 'delete_product' item.id %}" method="DELETE">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </a>
                </div>
            {% empty %}
                <h4>You have not products yet.</h4>
            {% endfor %}
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add/Update Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form id="product-form" action="{% url 'save_product' %}" method="POST">
                      {% csrf_token %}
                      {{form}}
                  </form>
              </div>
              <div class="modal-footer">
                <button  onclick="closeForm()"type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save New Product</button>
              </div>
            </div>
          </div>
        </div>

    {% else %}
        <div class="col-md-12">
            <h1 class="border-bottom">Welcome to your profile page, {{ profile.first_name }} {{ profile.last_name }}!</h1>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script type="text/babel" src="{% static 'AmazPocket/profile.js' %}"></script>
{% endblock %}