/* Common classes for styling */
.m-t-1 {
    margin-top: 0.5rem;
}

.m-b-1{
    margin-bottom: 0.5rem;
}

.m-b-0 {
    margin-bottom: 0;
}

.inline {
    display: inline-block;
}

.text-default {
    color: white;
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.border-bottom {
    border-bottom: 2px solid #dee2e6 !important;
}

.center-text {
    text-align: center;
}

/* Buttons' styles */
.btn {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn.careful {
    background-color: crimson;
    border-color: crimson;
}

.btn:hover {
    background-color: #093e15;
}

.btn.careful:hover {
    background-color: #540311;
}

/* Register page */
.vendor-input {
    position: absolute;
    margin-top: .4rem;
}

/* Vendor Page */
.vendor-buttons {
    text-align: right;
}

#vendor-products .product-img {
    width: 100%;
    height: 400px;
}

#vendor-products a {
    color: black;
}

#vendor-products .product-space:hover {
    background-color: #bee4c7;
}

#vendor-products a:hover {
    text-decoration: none;
    color: black;
}

#product-form input[type='checkbox']{
    display: inline-block;
    width: auto;
}

.p-price, .p-instock {
    margin-bottom: 0;
}

.product-space {
    padding-bottom: 1em;
    padding-top: 1em;
}

#sub-header-vendor {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

/* Categories Page */

.categories-items .cat-img {
    width: 100%;
    height: auto;
}

.categories-items div {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.categories-items div:hover {
    background-color: #bee4c7;
}


.categories-items div a {
    color: black;
}


.categories-items div a:hover {
    text-decoration: none;
}

/*#category-products img {*/
/*    width: 100%;*/
/*    height: 400px;*/
/*}*/

/*#category-products a {*/
/*    color: black;*/
/*}*/

/*#category-products .product-space:hover {*/
/*    background-color: #bee4c7;*/
/*}*/

/*#category-products a:hover {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

#product-modal #selected-product-img {
    width: 100%;
    height: 250px;
}

/* Index page */

#products-container {
    margin-top: 2em;
}

#products-container img {
    width: 100%;
    height: 400px;
}

#products-container a {
    color: black;
}

#products-container .product-space:hover {
    background-color: #bee4c7;
}

#products-container a:hover {
    text-decoration: none;
    color: black;
}

#product-modal #selected-product-img {
    width: 100%;
    height: 250px;
}