/* Common classes for styling */
.m-t-1 {
    margin-top: 0.5rem;
}

.m-b-1{
    margin-bottom: 0.5rem;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-r-1 {
    margin-right: 1rem;
}

.m-l-1 {
    margin-left: 1rem;
}

.inline {
    display: inline-block;
}

.text-default {
    color: white;
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.border-bottom {
    border-bottom: 2px solid #dee2e6 !important;
}

.center-text {
    text-align: center;
}

/* Buttons' styles */
.btn {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #093e15;
    border-color: #093e15;
}

.btn.careful {
    background-color: crimson;
    border-color: crimson;
}

.btn:hover {
    background-color: #093e15;
}

.btn.careful:hover {
    background-color: #540311;
}

.btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
    background-color: #093e15;
    background-image: none;
    border-color: #093e15;
}

/* Register page */
.vendor-input {
    position: absolute;
    margin-top: .4rem;
}

/* Vendor Page */
.vendor-buttons {
    text-align: right;
}

#vendor-products .product-img {
    width: 100%;
    height: 400px;
}

#vendor-products a {
    color: black;
}

#vendor-products .product-space:hover {
    background-color: #bee4c7;
}

#vendor-products a:hover {
    text-decoration: none;
    color: black;
}

#product-form input[type='checkbox']{
    display: inline-block;
    width: auto;
}

.p-price, .p-instock {
    margin-bottom: 0;
}

.product-space {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#sub-header-vendor {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

/* Categories Page */

.categories-items .cat-img {
    width: 100%;
    height: auto;
}

.categories-items div {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.categories-items div:hover {
    background-color: #bee4c7;
}


.categories-items div a {
    color: black;
}


.categories-items div a:hover {
    text-decoration: none;
}

#product-modal #selected-product-img {
    width: 100%;
    height: 250px;
}

/* Index page */

#products-container {
    margin-top: 2rem;
}

#products-container img {
    width: 100%;
    height: 400px;
}

#products-container a {
    color: black;
}

#products-container .product-space:hover {
    background-color: #bee4c7;
}

#products-container a:hover {
    text-decoration: none;
    color: black;
}

#product-modal #selected-product-img {
    width: 100%;
    height: 250px;
}

/* Wishlist page */
#sub-header-wishlist {
    display: flex;
    justify-content: right;
    margin-top: 1rem;
}

#sub-header-wishlist.in-between {
    justify-content: space-between;
}

/* Off canvas */
.bs-canvas-overlay {
   		opacity: 0.85;
		z-index: 1100;
	}

	.bs-canvas {
		top: 0;
		z-index: 1110;
		overflow-x: hidden;
		overflow-y: auto;
		width: 330px;
		transition: margin .4s ease-out;
		-webkit-transition: margin .4s ease-out;
		-moz-transition: margin .4s ease-out;
		-ms-transition: margin .4s ease-out;
	}

	.bs-canvas-left {
		left: 0;
		margin-left: -330px;
	}

	.bs-canvas-right {
		right: 0;
		margin-right: -330px;
	}